* {
    margin: 0;
}

#showcase {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
p{
    display: flex;
    justify-content: flex-start;
}
.links{
    display: flex;
    justify-content: flex-end;
}